body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(229, 230, 207);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  height: 150px;
  width: 100%;
  background-color: #000000;
  color: white;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: auto;
  text-align: center;
}

hr {
  display: block;
  width: 50%;
}

h4 {
  font-style: italic;
}
